@CHARSET "UTF-8";

* {
	font-family: Verdana,Arial,sans-serif;	
}

#wrapper {
	width: 1000px;
	margin: auto;
}

header {
	text-align: center;	
}

section {
	clear: both;
	margin-bottom: 5px;	
	padding: 10px;
	border: 1px solid #EEEEEE;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

section:nth-child(2n) {
	border: 1px solid #DDDDDD;
	background-color: #EEEEEE;	
}

.thumb {
	float: left;
	margin-right: 10px;	
}

footer {
	clear: both;
	text-align: center;
}